.class_one {
    color: brown;
}

.h2_green {
    color: green;
}

.font_class {
    /* font-size: 26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600; 
    Жирность
    font-style: italic;  */

    font: italic 600 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Важна последовательность */
}

.text_class{
    text-align: center;
    color: darkred;
    text-decoration: underline;
    line-height: 24px;
    /* Межстрочный интервал */
    text-transform:capitalize;
    /* capitalize - первые буквы, каждлого слова - большие */
}

/* body{
    background-color: darkseagreen;
    background-image: url(../img/5.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center; 
    background: darkseagreen url(../img/5.jpg) top center no-repeat;
    color: white;
} */

.divwidth{
    width: 400px;
    background-color: darkslategray;
    color: white;
    height: 100px;
    overflow: auto;
}
